.Mapps{
    height: 250px;
    width: 350px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    display: grid;
    grid-template-areas: 
    "Paris Lady Ben Budd"
    

    ;

/*platta */
@media screen and (min-width: 600px ) {
    * {
        
    }

    .Mapps {
        grid-template-columns: 1fr  ;
        gap: 10px;
        grid-template-areas: 
        "Paris"
        "Lady"
        "Ben"
        "Budd"
        ;
    }
}

/*desktop*/
@media screen and (min-width:960px ) {
    *{
        
    }

    .Mapps {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}

/*stora desktop*/
@media screen and (min-width:1360px) {
    * {
        
    }




}

.Place{
    background-color: black;
    border: 2px solid lightblue;
    color: wheat;

    padding: 150px;
}

#Paris{
    display: block;
    grid-area: Paris;
}

#Big_Ben {
    width: 95px;
    display: block;
    grid-area: Ben;
}
    
#Lady_liberty {
 
    display: block;
    grid-area: Lady;
}

#Buddha {
    display: block;
    grid-area: Budd;
}
}