
*{
    background-color: darkcyan;
}

.Mapps{
   
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    display: block;
    display: grid;
    grid-template-areas: 
    "Paris Ben Lady Budd"

    ;   
}







body{
    overflow: hidden;
    background-color: darkcyan;
    color: wheat;
}

.Place{
    border: 2px solid lightgoldenrodyellow;
    background-color: darkgreen;
    color: wheat;
    padding: 150px;
}


@media screen and (max-width: 1000px) {
    *{
        background-color: aliceblue;
    } 
    .Place{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;

    }

}


#Paris{
    display: block;
    grid-area: Paris;
}

#Big_Ben {
    display: block;
    grid-area: Ben;
}
    
#Lady_liberty {
 
    display: block;
    grid-area: Lady;
}

#Buddha {
    display: block;
    grid-area: Budd;
}
