
.Big_ben{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    display: block;
    display: grid; 
    background-color: gray
}


body{
    overflow: hidden;
    background-color: gray;
    color: wheat;
}
.pice{
    border: 2px solid lightgoldenrodyellow;
    background-color: darkgreen;
    color: wheat;
    padding: 150px;
    border-radius: 20px;
    
}